

body * {box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body {display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
}


.line1 {grid-area: 1 / 1 / 2 / 5;
        background-color: #E6E6E6;


}

.title-line {grid-area: 2 / 1 / 3 / 5;
            display: flex;
            background-color: white;
            justify-content: center;
            flex-direction: row;

}

nav {grid-area: 2 / 1 / 3 / 5;
    display: flex;
    flex-direction: row;
    background-color: white;
    list-style: none;


}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    justify-content: flex-end;


}
 nav li {grid-area: 2 / 3 / 3 / 4;
     display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
     justify-content: right;

}
 a {
     display: flex;
     flex-direction: row;
     text-decoration: none;
     color: black;

 }

.line3 {grid-area: 3 / 1 / 4 / 5;
        background-color: #E6E6E6;
}

.title {grid-area: 4 / 2 / 5 / 4;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #E6E6E6;
        font-size: 20px;
        font-family: font-family: 'Anton', sans-serif;

}

.location {
            grid-area: 5 / 2 / 6 / 4;
            display: flex;
            flex-direction: row;
            background-color: #E6E6E6;
            justify-content: center;
}

.dots {grid-area: 6 / 2 / 7 / 4;
        background-color: #E6E6E6;
        display: flex;
        flex-direction: row;
        justify-content: center;

}





.sw  {grid-area: 7 / 2 / 8 / 3;
    display: flex;
    flex-direction: row;
    background-color: #E6E6E6;

}

.ipad {grid-area: 8 / 2 / 10 / 3;
    display: flex;
    flex-direction: row;
    background-color: #E6E6E6;
       }

.text1 {grid-area: 10 / 2 / 11 / 3;
    display: flex;
    flex-direction: row;
    background-color: #E6E6E6;
}

.icons1 {grid-area: 10 / 2 / 11/ 3;
    display: flex;
    flex-direction: row;
    background-color: #E6E6E6;
}

.macbook {grid-area: 8 / 3 / 10 / 4;
    display: flex;
    flex-direction: row;
    background-color: #E6E6E6;
}

.text1 {grid-area: 10 / 3 / 11 / 4;
    display: flex;
    flex-direction: row;
    background-color: #E6E6E6;
}

.icons1 {grid-area: 10 / 3 / 11/ 4;
    display: flex;
    flex-direction: row;
    background-color: #E6E6E6;
}

.man {
    grid-area: 11 / 2 / 12 / 3;
    display: flex;
    flex-direction: row;
}
.text3 {grid-area: 12 / 2 / 13 / 3;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: row;
}

.icons3 {grid-area: 12 / 2 / 13/ 3;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: row;
}

.security {grid-area: 11/ 3 / 12 / 4;
            background-color: #E6E6E6;
    display: flex;
    flex-direction: row;

}

.text4 {grid-area: 12 / 3 / 13 / 4;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: row;
}

.icons4 {grid-area: 12 / 3 / 13 / 4;
        background-color: #E6E6E6;
    display: flex;
    flex-direction: row;

}

.last {grid-area: 7 / 3 / 8 / 4;
    display: flex;
    flex-direction: row;
    background-color: #E6E6E6;

}

.admin {grid-area: 8 / 3 / 9 / 4;
        display: flex;
        background-color: #E6E6E6;

}

.nibbler {grid-area: 9 / 3 / 10 / 4 ;
        display: flex;
    background-color: #E6E6E6;
}

.google {grid-area: 10 / 3 / 11/ 4;
        display: flex;
    background-color: #E6E6E6;

}

.tweet {grid-area: 11/ 3 / 13 / 4;
    background-color: #E6E6E6;

}